<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍登録フォーム</title>
</head>
<body>
    <h1>書籍登録</h1>

    <form th:action="@{books/add}" method="post">
            <div>
                <label for="isbn">ISBN：</label>
                <input type="text" id="isbn" name="isbn" placeholder="978..." onblur="searchBookByISBN()">
            </div>

            <div>
                <label for="title">タイトル：</label>
                <input type="text" id="title" name="title">
            </div>

            <div>
                <label for="authors">著者：</label>
                <input type="text" id="authors" name="authors">
            </div>

            <div>
                <label for="thumbnailUrl">サムネイルURL：</label>
                <input type="text" id="thumbnailUrl" name="thumbnailUrl">
            </div>

            <div>
                <input type="submit" value="登録">
            </div>
    </form>

    <script>
        async function searchBookByISBN() {
            const isbn = document.getElementById("isbn").value;
            if(!isbn) return;

            const url = `https://www.googleapis.com/books/v1/volumes?q=isbn:${isbn}`;

            try{
                const res = await fetch(url);
                const data = await res.json();
                const book = data.items?.[0]?.volumeInfo;

                if(book){
                    document.getElementById("title").value = book.title || "";
                    document.getElementById("authors").value = (book.authors || []).join(", ");
                    document.getElementById("thumbnailUrl").value = book.imageLinks?.thumbnail || "";
                } else {
                    alert("該当する書籍が見つかりませんでした。");
                }
            } catch(error) {
                alert("データ取得に失敗しました。");
                console.error(error);

            }
        }
    </script>
</body>
</html>